.input {
  $input-padding: 1.5em;

  background-color: #F0F1F7;
  color: #4B506D;
  font-size: 14px;
  border-radius: 8px;
  border: none;

  padding: $input-padding 0.8rem ($input-padding * 0.6) 0.8rem;
  width: 100%;
  flex: 0 0 100%;
  margin-bottom: 1.5rem;

  &.ng-dirty.ng-invalid, &.ng-touched.ng-invalid {
    outline: 2px solid red;
    color: red;
    margin-bottom: 0;
  }

  &.ng-dirty.ng-valid {
    outline: 2px solid lawngreen;
  }

  &-holder {
    position: relative;
  }

  &-label {
    position: absolute;
    top: 1.75rem;

    transform: translateY(-0.75rem) translateX(0.8rem);
    transform-origin: left;
    transition: .15s ease transform;

    &--active, &:focus {
      transform: scale(0.75) translateY(-2.25rem) translateX(($input-padding * 0.6));
    }
  }

  &-error {
    font-size: 0.75rem;
    margin: 0.2rem 0 0.3rem;
    color: var(--white);
    padding-left: 0.8rem;
  }
}
