<nav class="nav">
  <ul class="nav-list text text--bold">
    <li class="nav-item">
      <a [routerLink]="['/product']" *ngIf="!authenticationService.isModerator" routerLinkActive="active">Product</a>
      <a [routerLink]="['/admin/product']" *ngIf="authenticationService.isModerator" routerLinkActive="active">Product</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/cart']" routerLinkActive="active">Cart ({{ this.cartService.getTotalItems() }})</a>
    </li>
    <li class="nav-item">
      <button class="button button--secondary" (click)="authenticationService.logout()" *ngIf="authenticationService.isLoggedIn()">Logout</button>
      <a class="button button--secondary" [routerLink]="['login']" *ngIf="!authenticationService.isLoggedIn()">Login</a>
    </li>
  </ul>
</nav>
