
<table class="table text">
  <thead class="table-head">
    <tr>
      <th *ngFor="let key of keys" [id]="'table-' + key">
        {{ formatKey(key) }}
      </th>
      <th *ngIf="this.route && this.route.length > 0">
        Action
      </th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr *ngFor="let item of data">
      <td *ngFor="let key of keys" [attr.aria-describedby]="'#table-' + key">
        {{ item[key] }}
      </td>
      <td *ngIf="this.route && this.route.length > 0">
        <a class="button button--primary button--small" [routerLink]="[formatLink(item)]">Bekijk</a>

      </td>
    </tr>
    <tr *ngIf="totals.length > 0 && this.options.sumTotals" class="table-sum">
      <td [attr.colspan]="keys.length - totals.length" class="text--right text--bold">Total:</td>
      <td *ngFor="let total of totals" class="text--bold">{{total}}</td>
    </tr>
  </tbody>
</table>
