@use "sass:color";

.table {
  border-collapse: collapse;
  font-size: 0.9rem;

  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.15);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  overflow: hidden;

  &-head tr {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: left;
  }

  & th, & td {
    padding: 0.75rem 0.85rem;
  }

  & th {
    text-transform: capitalize;
  }

  &-body tr {
    border-bottom: 1px solid var(--secondary-color);
    background-color: var(--white);
    color: var(--secondary-color);
    transition: filter .3s ease;

    &:hover {
      filter: brightness(90%);
    }

    &:nth-of-type(even) {
      background-color: var(--secondary-color);
      color: var(--white);
    }

    &:last-of-type {
      border-bottom-width: 2px;
    }
  }

  &-sum {
    background-color: var(--primary-color) !important;

    & * {
      color: var(--white) !important;
    }
  }
}
